<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>VizTech Solutions | Blog</title>
    <link rel="icon" href="logo.jpg" type="image/icon type">
</head>
<body>
    <main class="container ">
        <section class="blog-intro text-center ">
            <h1 class="blog-title">UI/UX Insights Blog</h1>
            <h3 class="blog-description">Stay updated with our latest articles on UI/UX design and development.
                <br> Explore expert insights, trends, and best practices to enhance digital experiences.
            </h3>
        </section>

        <!-- Blog Grid Section -->
        <section class="blog-grid row">
            <div class="col-md-6 mb-4">
                <div class="blog-card">
                    <img src="images/Art of UI Colour art .jpg" alt="art of ui colour" class="card-img-top blog-image">
                    <div class="card-body">
                        <h3 class="card-title">The Art of UI Color Palettes</h3>
                        <p class="card-text">Learn the art of crafting the perfect UI color palette using color theory, psychology, and harmony. Explore practical tips for choosing colors, images, and design tools like Figma. Create balanced, user-friendly interfaces with these expert insights!</p>
                        <a href="https://tadimarridadapeer.blogspot.com/2024/10/the-art-of-ui-color-palettes-for-ui.html" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="blog-card">
                    <img src="images/UI Human Emotion.png" alt="Human Touch" class="card-img-top blog-image">
                    <div class="card-body">
                        <h3 class="card-title">Elevating UI with Emotional Design</h3>
                        <p class="card-text">Discover how emotional design elevates user interfaces by blending storytelling, color theory, and typography to create meaningful, engaging experiences. Learn how each design element—from fonts to colors—shapes the user journey. Explore practical examples that showcase the impact of emotion in UI design.</p>
                        <a href="https://tadimarridadapeer.blogspot.com/2024/09/the-human-touch-elevating-ui-with.html" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </section>
        <div class="text-center mb-4">
            <button  class="btn btn-primary seemore"><a href="https://tadimarridadapeer.blogspot.com/">See More</a> </button>
        </div>



    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
